<ion-view title="Login using GitHub" hide-nav-bar="true" cache-view="false" nav-transition="none" id="page7">
  <ion-content padding="true" style="background: url(img/yVslY9yvRj6APYljk3zd_AppBackground.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <form id="loginUsingGitHub-form1" class="list center-form">
      <div>
        <img src="img/vOWacrkASZCNM9jGy7CR_splash.png" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="width: 290px; height: 19px;"></div>
      <div id="loginUsingGitHub-markdown4" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#FFFFFF;">To use this app you need to login into your GitHub account.</p>
      </div>
      <button id="loginUsingGitHub-button3" class="button icon ion-social-github button-block button-royal" ng-click="login()"> Log in using GitHub</button>
    </form>
  </ion-content>
</ion-view>